.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.hvr-underline-reveal { 
   display: inline-block; 
   vertical-align: middle; 
   -webkit-transform: translateZ(0); 
   transform: translateZ(0); 
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); 
  -webkit-backface-visibility: hidden; 
   backface-visibility: hidden; 
   -moz-osx-font-smoothing: grayscale; 
   position: relative; 
   overflow: hidden; 
 } 
 
 .hvr-underline-reveal:before { 
   content: ""; 
   position: absolute; 
   z-index: -1; 
   left: 0; 
   right: 0; 
   bottom: 0; 
   background: #ccc; 
   height: 4px; 
   -webkit-transform: translateY(4px); 
   transform: translateY(4px); 
   -webkit-transition-property: transform; 
   transition-property: transform; 
   -webkit-transition-duration: 0.3s; 
   transition-duration: 0.3s; 
   -webkit-transition-timing-function: ease-out; 
   transition-timing-function: ease-out; 
 } 

 .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before { 
   -webkit-transform: translateY(0); 
  transform: translateY(0); 
 }

a {
  font-size: 1.3em; /* 40px/16=2.5em */
}

li {
  box-sizing: border-box;
  padding: 10px;
}