<div class="wrap cf">
      <h1 class="projTitle">Shopping Cart</h1>
      <div class="heading cf">
        <h1>My Cart</h1>
        <a href="#" class="continue" routerLink="/book">Continue Shopping</a>
      </div>
      <div class="cart">
    <!--<ul class="tableHead">
          <li class="prodHeader">Product</li>
          <li>Quantity</li>
          <li>Total</li>
          <li>Remove</li>
        </ul>-->
        <ul class="cartWrap">
          <li class="items odd" *ngFor="let book of books">
            <div class="infoWrap">
              <div class="cartSection">
                <img src="assets/cartimage.jpg" alt="" class="itemImg" />
                <p class="itemNumber">CODE: {{ book.bookCode }}</p>
                <h3>{{ book.bookName }}</h3>
                <p> <input type="text"  class="qty" placeholder="1" name="quantity" [(ngModel)]="quantity"/> x ${{ book.price }}</p>
                <p class="stockStatus"> In Stock</p>
              </div>  
              <div class="prodTotal cartSection">
                <p>${{ book.price }}</p>
              </div>
              <div class="cartSection removeWrap">
                <a href="#" class="remove" (click)=DeleteBook(item)>x</a>
              </div>
            </div>
          </li>
          
          <!--<li class="items even">Item 2</li>-->
     
        </ul>
      </div>
      
    <div class="promoCode">
      <label for="promo">Have A Promo Code?</label>
      <input type="text" #promo name="promo" placholder="Enter Code"/>
      <button class="btn" (click)=AddPromo(promo.value)></button>
    </div>
      
      <div class="subtotal cf">
        <ul>
          <li class="totalRow"><span class="label">Subtotal</span><span class="value">${{ subTotalPrice }}</span></li>
          
              <li class="totalRow"><span class="label">Shipping</span><span class="value">${{ shipping }}</span></li>

                <li class="totalRow"><span class="label">Tax</span><span class="value">${{ tax }}</span></li>
                <li class="totalRow final"><span class="label">Total</span><span class="value">${{ totalPrice }}</span></li>
          <li class="totalRow"><button (click)=SubmitOrder() class="btn continue">Place Order</button></li>
        </ul>
      </div>
    </div>
