<img src="assets/book.jpg" class="bg">

<div id="page-wrap">

  <h1 class="font-weight-light">Welcome to BookSite</h1>
  <br>
  <p class="ead"> {{ welcome }} </p>
  <p>Books are believed as the best friend of people as they never lies to them and always help in increasing knowledge and awareness about any such topic existing in the world. Books are still the best option for getting knowledge and information about any topic in this fastest growing technology based world, where internet is spreading its root everywhere. Books are the best company for people and enable them with feeling of pleased and relaxed while reading books and allow people to forget the entire mental disturbances surrounded nearby. We all should give some time for ourselves and use this precious time for getting knowledge and feeling relaxed by reading good Books.</p>

</div>
