<div class="container" style="vertical-align: middle; height: 380px ; width: 300px">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="Name">Book Name</label>
      <input type="text" required ngModel name="name" class="form-control" id="txtName" placeholder="e.g. Harry Potter">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" ngModel email required name="email" class="form-control" id="emEmail" aria-describedby="emailHelp" placeholder="e.g. example@outlook.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="Author">Author</label>
      <input type="text" ngModel name="author" class="form-control" id="txtAuthor" placeholder="e.g. J.K. Rowling">
    </div>
    <div class="form-group">
      <label for="Price">Price</label>
      <input type="number" ngModel name="price" class="form-control" id="nmbPrice" placeholder="e.g. 25">
    </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
  